body {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  font-size: 14px;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
  color: #2B2D42;
  font-weight: 700;
  margin: 0 0 10px;
}

a {
  color: #2B2D42;
  font-weight: 500;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

a:hover, a:focus {
  color: #FFFFFF;
  text-decoration: none;
  outline: none;
}

ul, ol {
  margin: 5px 0px;
  padding: 0;
  list-style: none
}



@media only screen and (max-width: 767px) {
  .section-title .section-nav {
    float: none;
    margin-top: 10px;
  }
  .section-tab-nav li {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 480px) {
  [class*='col-xs'] {
    width: 100%;
  }
  .store-grid {
    float: none;
    margin-top: 10px;
  }
  .store-pagination {
    float: none;
    margin-top: 10px;
  }
}

/* my super style for try gods */

.mdl-layout__header {
    background-color: #15161D;
}

.mdl-layout__header-row {
    margin: 0 0 16px 0;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: stretch;
    padding: 8px 0;
}

.mdl-layout__header-row a {
    color: #FFFFFF;
}

/*----------------------------*\
	Search
\*----------------------------*/

.header-search {
    flex-grow: 1;
    padding: 15px 0px;
    margin-left: 40%;
}

.header-search form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.header-search form .input {
    flex-grow: 1;
    margin-right: -4px;
    border-radius: 40px 0px 0px 40px;
}

.header-search form .search-btn {
    height: 40px;
    flex-grow: 0;
    flex-basis: 100px;
    background: #0f7c10;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 0px 40px 40px 0px;
}

.main-menu {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.main-menu > li {
    display: inline-block;
    margin-right: -4px;
}

.main-menu a {
    display: block;
    padding: 8px 16px;
    color: #2B2D42;
    text-decoration: none;
    width: auto;
}

.main-menu > li > a {
    font-weight: 600;
    font-size: 18px;
}

.main-menu li:hover {
    background: #15161D;
}

.main-menu li:hover > a {
    color: #FFFFFF;
}

.main-menu .sub-menu {
    position: absolute;
    z-index: 100;
    margin: 0 60px 0 0;
    padding: 0;
    list-style: none;
    display: none;
}

.main-menu .sub-menu a {
    margin-right: -4px;
    margin-top: 0px;
    color: #FFFFFF;
    text-align: center;
}

.main-menu > li:hover .sub-menu {
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
}

.sub-menu > li {
    background: #15161D;
    width: 150px;
    padding: 8px;
    vertical-align: top;
}

.sub-menu > li:hover {
    background: #0f7c10;
}

.menu-img {
    width: 60px;
    height: 60px;
    margin: 16px;
    text-align: center;
}

.footer-block {
    font-size: 16px;
    color: #FFFFFF;
    list-style: none;
}

.footer-block li {
   text-align: center;
}

.footer-center {
  text-align: center;
}

.mdl-layout__drawer {
    background: #15161D;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #ffffff;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #0f7c10;
}