body {
    min-width: 300px;
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 1.9;
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
}

.main-menu > li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
}

.main-menu a {
    display: block;
    padding: 8px 10px;
    color: #2B2D42;
    text-decoration: none;
}

.main-menu > li > a {
    font-weight: 600;
}

.main-menu li:hover {
    background: #15161D;
}

.main-menu li:hover > a {
    color: #FFFFFF;
}

.main-menu .sub-menu {
    position: absolute;
    width: 460px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #15161D;
    display:none;
}

.main-menu .sub-menu a {
    margin-right: -4px;
    margin-top: 0px;
    color: #FFFFFF;
    text-align: center;
}

.main-menu > li:hover .sub-menu {
    display:block;
}

.sub-menu > li {
    width: 150px;
    height: 100%;
    display:inline-block;
}

.sub-menu > li:hover {
    background: #0f7c10;
}

.menu-img {
    width: 50px;
    height: 50px;
    padding: 10px;
}