body {
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 1.9;
}

.main-menu {
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu a {
    color:  #000000;
    text-decoration: none;
    display: block;
}

.main-menu a:hover {
    background: #9370DB;
}

.main-menu > .active > a {
    color: white;
    background: #DC143C;
}

.main-menu ul {
    margin: 0;
    padding: 5px 0 5px 30px;
    list-style: none;
}

.main-menu li {
    margin-bottom: -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}