{% extends "layout.html" %}
{% block body %}
{#		<!-- BREADCRUMB -->#}
{#		<div id="breadcrumb" class="section">#}
{#			<!-- container -->#}
{#			<div class="container">#}
{#				<!-- row -->#}
{#				<div class="row">#}
{#					<div class="col-md-12">#}
{#						<h4 class="breadcrumb-header">Оформить заказ</h4>#}
{#						<ul class="breadcrumb-tree">#}
{#							<li><a href="#">Главная</a></li>#}
{#							<li class="active">Оформить заказ</li>#}
{#						</ul>#}
{#					</div>#}
{#				</div>#}
{#				<!-- /row -->#}
{#			</div>#}
{#			<!-- /container -->#}
{#		</div>#}
{#		<!-- /BREADCRUMB -->#}

        <div class="container">
            <div class="section">
                <div class="order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Ваш заказ</h3>
                    </div>
                    <div class="order-summary">
                        <div class="checkout-style">
                            <div id="goods"><strong>Товары:</strong></div>
                            <div id="quantity"><strong>Кол-во:</strong></div>
                            <div id="amount"><strong>Сумма:</strong></div>
                        </div>
                        <div class="order-products">
                            <div class="checkout-style">
                                <div id="goods">Playstation 4 pro</div>
                                <div id="quantity">1 шт.</div>
                                <div id="amount">27000 руб</div>
                            </div>
                            <div class="checkout-style">
                                <div id="goods">Dualshock 4</div>
                                <div id="quantity">2 шт.</div>
                                <div id="amount">3400 руб</div>
                            </div>
                        </div>
                        <div class="checkout-style">
                            <div id="goods">Доставка:</div>
                            <div id="amount"><strong>Бесплатно</strong></div>
                        </div>
                        <div class="checkout-style">
                            <div id="goods"><strong>Сумма:</strong></div>
                            <div id="amount"><strong class="order-total">33800 руб</strong></div>
                        </div>
                    </div>
                </div>

                <div class="order-details">
                    <div class="section-title text-center">
                        <h4 class="title">Способы доставки</h4>
                    </div>

                    <div class="payment-method">
                        <div class="input-radio">
                            <input type="radio" name="delivery" id="delivery-1">
                            <label for="delivery-1">
                                <span></span>
                                Доставка курьером
                            </label>
                            </div>
                        <div class="input-radio">
                            <input type="radio" name="delivery" id="delivery-2">
                            <label for="delivery-2">
                                <span></span>
                                Самовывоз
                            </label>
                        </div>
                    </div>
                </div>

                <div class="order-details">
                    <div class="section-title text-center">
                        <h4 class="title">Способы оплаты</h4>
                    </div>
                    <div class="payment-method">
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-1">
                            <label for="payment-1">
                                <span></span>
                                Оплата наличными
                            </label>
{#                            <div class="caption">#}
{#                                <p>Вы можете оплачивать наличными при доставке и при самовывозе.</p>#}
{#                            </div>#}
                            </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-2">
                            <label for="payment-2">
                                <span></span>
                                Оплата банковской картой
                            </label>
{#                            <div class="caption">#}
{#                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>#}
{#                            </div>#}
                        </div>
                    </div>
                    <div class="order-submit-container">
                            <a href="#" class="primary-btn">Заказать</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}