{% extends "layout.html" %}
{% block body %}
<div class="content-gray">

    <div class="container section text-center">
        <div class="row cart-content">
            <div class="col-md-8 section-white">
                <div class="row">
                    <h3>Корзина</h3>
                </div>
                <div class="row cart-item">
                    <div class="col-md-2">
                        <img src="/static/img/product01.png" height="90px">
                    </div>
                    <div class="col-md-4">
                        <a href="/product"><h6>Playstation 4 Pro</h6></a>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group spinner" data-trigger="spinner" id="spinner">
                          <input type="text" class="form-control text-center" value="1" data-rule="quantity">
                          <span class="input-group-addon">
                            <a href="#" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
                            <a href="#" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
                          </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h6>26490 ₽</h6>
                    </div>
                    <div class="col-md-2">
                        <a class="delete-button" href="#"><i class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="row cart-item">
                    <div class="col-md-2">
                        <img src="/static/img/product04.png" height="90px">
                    </div>
                    <div class="col-md-4">
                        <a href="/product"><h6>Controller Xbox One Elite</h6></a>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group spinner" data-trigger="spinner" id="spinner">
                          <input type="text" class="form-control text-center" value="1" data-rule="quantity">
                          <span class="input-group-addon">
                            <a href="#" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
                            <a href="#" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
                          </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h6>3490 ₽</h6>
                    </div>
                    <div class="col-md-2">
                        <a class="delete-button" href="#"><i class="material-icons">delete</i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 section-white">
                <div class="row">
                    <h5>Доставка</h5>
                </div>
                <div class="row delivery-choice">
                    <div class="col-md-6 cart-choice"><img class="menu-img" src="static/img/delivery_black.svg"> <br>
                    <h6>Курьером</h6></a>
                    </div>
                    <div class="col-md-6 cart-choice"><img class="menu-img" src="static/img/courier_black.svg"> <br>
                    <h6>Самовывоз</h6>
                    </div>
                </div>
                <div class="row">
                    <h5>Оплата</h5>
                </div>
                <div class="row">
                    <div class="col-md-6 cart-choice"><img class="menu-img" src="/static/img/rubles.svg"> <br>
                    <h6>Наличными</h6>
                    </div>
                    <div class="col-md-6 cart-choice"><img class="menu-img" src="/static/img/card.svg"> <br>
                    <h6>Картой</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"><h5>Итого:</h5></div>
                    <div class="col-md-6"><h5 class="order-total">29980 ₽</h5></div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-lg btn-block btn-cart-order">Заказать</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}