{% extends "layout.html" %}
{%  block body %}

        		<!-- HOT DEAL SECTION -->
		<div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3>02</h3>
										<span>Дня</span>
									</div>
								</li>
								<li>
									<div>
										<h3>10</h3>
										<span>Часов</span>
									</div>
								</li>
								<li>
									<div>
										<h3>34</h3>
										<span>Минуты</span>
									</div>
								</li>
								<li>
									<div>
										<h3>60</h3>
										<span>Секунды</span>
									</div>
								</li>
							</ul>
							<h2 class="text-uppercase">Скидки недели</h2>
							<p>до 50% на новую коллекцию</p>
							<a class="primary-btn cta-btn" href="#">Купить</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOT DEAL SECTION -->


		<!-- SECTION -->
{#		<div class="section">#}
{#			<!-- container -->#}
{#			<div class="container">#}
{#				<!-- row -->#}
{#				<div class="row">#}
{#					<!-- shop -->#}
{#					<div class="col-md-4 col-xs-6">#}
{#						<div class="shop-body">#}
{#								<h3>Приставки</h3>#}
{#							</div>#}
{#                        <div class="shop">#}
{#							<div class="shop-img">#}
{#								<img src="static/img/shop01.png" alt="">#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#					<!-- /shop -->#}
{##}
{#					<!-- shop -->#}
{#					<div class="col-md-4 col-xs-6">#}
{#						<div class="shop-body">#}
{#								<h3>Аксессуары</h3>#}
{#							</div>#}
{#                        <div class="shop">#}
{#							<div class="shop-img">#}
{#								<img src="static/img/shop03.png" alt="">#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#					<!-- /shop -->#}
{##}
{#					<!-- shop -->#}
{#					<div class="col-md-4 col-xs-6">#}
{#						<div class="shop-body">#}
{#								<h3>Игры</h3>#}
{#							</div>#}
{#                        <div class="shop">#}
{#							<div class="shop-img">#}
{#								<img src="static/img/shop02.png" alt="">#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#					<!-- /shop -->#}
{#				</div>#}
{#				<!-- /row -->#}
{#			</div>#}
{#			<!-- /container -->#}
{#		</div>#}
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Новинки</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab1">Приставки</a></li>
									<li><a data-toggle="tab" href="#tab1">Аксессуары</a></li>
									<li><a data-toggle="tab" href="#tab1">Игры</a></li>
									<li><a data-toggle="tab" href="#tab1">Б/У</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product01.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">Новое</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Приставки</p>
												<h3 class="product-name"><a href="#">playstation 4 pro</a></h3>
												<h4 class="product-price">27000 руб<del class="product-old-price">28499 руб</del></h4>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">В избранное</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Сравнить</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product02.png" alt="">
												<div class="product-label">
													<span class="new">Новое</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Аксессуары</p>
												<h3 class="product-name"><a href="#">Dualshock 4</a></h3>
												<h4 class="product-price">3000 руб<del class="product-old-price">3400</del></h4>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">В избранное</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Сравнить</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product03.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Игры</p>
												<h3 class="product-name"><a href="#">fifa 18</a></h3>
												<h4 class="product-price">2900 руб<del class="product-old-price">3100</del></h4>
												<div class="product-rating">
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">В избранное</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Сравнить</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product04.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Аксессуары</p>
												<h3 class="product-name"><a href="#">controller xbox one elite</a></h3>
												<h4 class="product-price">3500 руб<del class="product-old-price">3700</del></h4>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">В избранное</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Сравнить</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product05.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Аксессуары</p>
												<h3 class="product-name"><a href="#">controller xbox 360</a></h3>
												<h4 class="product-price">2300 руб<del class="product-old-price">2500 руб</del></h4>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">В избранное</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Сравнить</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

{#		<!-- HOT DEAL SECTION -->#}
{#		<div id="hot-deal" class="section">#}
{#			<!-- container -->#}
{#			<div class="container">#}
{#				<!-- row -->#}
{#				<div class="row">#}
{#					<div class="col-md-12">#}
{#						<div class="hot-deal">#}
{#							<ul class="hot-deal-countdown">#}
{#								<li>#}
{#									<div>#}
{#										<h3>02</h3>#}
{#										<span>Дня</span>#}
{#									</div>#}
{#								</li>#}
{#								<li>#}
{#									<div>#}
{#										<h3>10</h3>#}
{#										<span>Часов</span>#}
{#									</div>#}
{#								</li>#}
{#								<li>#}
{#									<div>#}
{#										<h3>34</h3>#}
{#										<span>Минуты</span>#}
{#									</div>#}
{#								</li>#}
{#								<li>#}
{#									<div>#}
{#										<h3>60</h3>#}
{#										<span>Секунды</span>#}
{#									</div>#}
{#								</li>#}
{#							</ul>#}
{#							<h2 class="text-uppercase">Скидки недели</h2>#}
{#							<p>до 50% на новую коллекцию</p>#}
{#							<a class="primary-btn cta-btn" href="#">Купить</a>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#				<!-- /row -->#}
{#			</div>#}
{#			<!-- /container -->#}
{#		</div>#}
{#		<!-- /HOT DEAL SECTION -->#}

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Лидеры продаж</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab2">Приставки</a></li>
									<li><a data-toggle="tab" href="#tab2">Аксессуары</a></li>
									<li><a data-toggle="tab" href="#tab2">Игры</a></li>
									<li><a data-toggle="tab" href="#tab2">Б/У</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product06.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">Новое</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Приставки</p>
												<h3 class="product-name"><a href="#">xbox 360 fat</a></h3>
												<h4 class="product-price">5000 руб<del class="product-old-price">6000 руб</del></h4>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">В избранное</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Сравнить</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product07.png" alt="">
												<div class="product-label">
													<span class="new">Новое</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Игры</p>
												<h3 class="product-name"><a href="#">gta 5</a></h3>
												<h4 class="product-price">2800 руб<del class="product-old-price">3200 руб</del></h4>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product08.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Приставки</p>
												<h3 class="product-name"><a href="#">xbox one x</a></h3>
												<h4 class="product-price">32990 руб<del class="product-old-price">34500 руб</del></h4>
												<div class="product-rating">
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">В избранное</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Сравнить</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product09.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Аксессуары</p>
												<h3 class="product-name"><a href="#">controller xbox 360</a></h3>
												<h4 class="product-price">2300 руб<del class="product-old-price">2500 руб</del></h4>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">В избранное</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Сравнить</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="static/img/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Приставки</p>
												<h3 class="product-name"><a href="#">PlayStation 4 PRO</a></h3>
												<h4 class="product-price">27000 руб<del class="product-old-price">28499 руб</del></h4>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">В избранное</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Сравнить</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
											</div>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Лидеры продаж</h4>
							<div class="section-nav">
								<div id="slick-nav-3" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-3">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product07.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Игры</p>
										<h3 class="product-name"><a href="#">GTA 5</a></h3>
										<h4 class="product-price">2800 руб<del class="product-old-price">3200 руб</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product08.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Приставки</p>
										<h3 class="product-name"><a href="#">XBOX ONE X</a></h3>
										<h4 class="product-price">32990 руб<del class="product-old-price">34500 руб</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product09.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Аксессуары</p>
										<h3 class="product-name"><a href="#">controller xbox 360</a></h3>
										<h4 class="product-price">2300 руб<del class="product-old-price">2500 руб</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>

							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product01.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Приставки</p>
										<h3 class="product-name"><a href="#">playstation 4 pro</a></h3>
										<h4 class="product-price">27000 руб<del class="product-old-price">28499 руб</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product02.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Аксессуары</p>
										<h3 class="product-name"><a href="#">dualshock 4</a></h3>
										<h4 class="product-price">3000 руб<del class="product-old-price">3400</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product03.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Игры</p>
										<h3 class="product-name"><a href="#">fifa 18</a></h3>
										<h4 class="product-price">2900 руб<del class="product-old-price">3100</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Лидеры продаж</h4>
							<div class="section-nav">
								<div id="slick-nav-4" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-4">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product04.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Аксессуары</p>
										<h3 class="product-name"><a href="#">controller xbox one elite</a></h3>
										<h4 class="product-price">3500 руб<del class="product-old-price">3700</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product05.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Приставки</p>
										<h3 class="product-name"><a href="#">xbox 360 e</a></h3>
										<h4 class="product-price">8000 руб<del class="product-old-price">9000 руб</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product06.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Приставки</p>
										<h3 class="product-name"><a href="#">xbox 360 fat</a></h3>
										<h4 class="product-price">5000 руб<del class="product-old-price">6000 руб</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>

							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product07.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Игры</p>
										<h3 class="product-name"><a href="#">gta 5</a></h3>
										<h4 class="product-price">2800 руб<del class="product-old-price">3200 руб</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product08.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Приставки</p>
										<h3 class="product-name"><a href="#">xbox one x</a></h3>
										<h4 class="product-price">32990 руб<del class="product-old-price">34500 руб</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product09.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Аксессуары</p>
										<h3 class="product-name"><a href="#">controller xbox 360</a></h3>
										<h4 class="product-price">2300 руб<del class="product-old-price">2500 руб</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>

					<div class="clearfix visible-sm visible-xs"></div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Лидеры продаж</h4>
							<div class="section-nav">
								<div id="slick-nav-5" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-5">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product01.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Приставки</p>
										<h3 class="product-name"><a href="#">playstation 4 pro</a></h3>
										<h4 class="product-price">27000 руб<del class="product-old-price">28499 руб</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product02.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Аксессуары</p>
										<h3 class="product-name"><a href="#">dualshock 4</a></h3>
										<h4 class="product-price">3000 руб<del class="product-old-price">3400</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product03.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Игры</p>
										<h3 class="product-name"><a href="#">fifa 18</a></h3>
										<h4 class="product-price">2900 руб<del class="product-old-price">3100</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>

							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product04.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Аксессуары</p>
										<h3 class="product-name"><a href="#">controller xbox one elite</a></h3>
										<h4 class="product-price">3500 руб<del class="product-old-price">3700</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product05.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Приставки</p>
										<h3 class="product-name"><a href="#">xbox 360 e</a></h3>
										<h4 class="product-price">8000 руб<del class="product-old-price">9000 руб</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="static/img/product06.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Приставки</p>
										<h3 class="product-name"><a href="#">xbox 360 fat</a></h3>
										<h4 class="product-price">5000 руб<del class="product-old-price">6000 руб</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock %}