<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>MitinoGame - Интернет-магазин игровых приставок, игр и аксессуаров</title>

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet"/>

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="static/css/bootstrap.min.css"/>

        <link type="text/css" rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"/>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="static/css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="static/css/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="static/css/nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="static/css/font-awesome.min.css">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="static/css/style.css"/>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

    </head>
	<body>
		<!-- HEADER -->

<header class="mdc-top-app-bar mdc-top-app-bar--short">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
{#      <span class="mdc-top-app-bar__title">Title</span>#}
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Bookmark this page" alt="Bookmark this page">account_circle</a>
    </section>
  </div>
</header>
        <header>
{#			<!-- TOP HEADER -->#}
{#			<div id="top-header">#}
{#				<div class="container">#}
{#					<ul class="header-links pull-left">#}
{#						<li><a href="#"><i class="fa fa-phone"></i>+7-977-897-75-30</a></li>#}
{#						<li><a href="#"><i class="fa fa-envelope-o"></i>mitinogame@ya.ru</a></li>#}
{#						<li><a href="#"><i class="fa fa-map-marker"></i>Москва, Пятницкое шоссе, 18</a></li>#}
{#					</ul>#}
{#					<ul class="header-links pull-right">#}
{#						<li><a href="#"><i class="fa fa-user-o"></i> Мой аккаунт</a></li>#}
{#					</ul>#}
{#				</div>#}
{#			</div>#}
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="static/img/logo.png" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form>
									<input class="input" placeholder="Поиск">
									<button class="search-btn">Найти</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Wishlist -->
								<!-- /Wishlist -->

								<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<span>Корзина</span>
										<div class="qty">4</div>
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											<div class="product-widget">
												<div class="product-img">
													<img src="static/img/product01.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">Playstation 4 pro</a></h3>
													<h4 class="product-price"><span class="qty">1x</span>27000 руб</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>

											<div class="product-widget">
												<div class="product-img">
													<img src="static/img/product02.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">Dualshock 4</a></h3>
													<h4 class="product-price"><span class="qty">3x</span>3000 руб</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>
										</div>
										<div class="cart-summary">
											<small>4 шт.</small>
											<h5>Сумма: 36000 руб</h5>
										</div>
										<div class="cart-btns">
											<a href="#">В корзину</a>
											<a href="#">Оформить заказ</a>
										</div>
									</div>
								</div>
								<!-- /Cart -->

								<!-- Menu Toogle -->
{#								<div class="menu-toggle">#}
{#									<a href="#">#}
{#										<i class="fa fa-bars"></i>#}
{#										<span>Menu</span>#}
{#									</a>#}
{#								</div>#}
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
{#		</header>#}
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->

				<!-- responsive-nav -->
					<!-- NAV -->
					<ul class="main-menu container">
						<li {% if request.path == "/consoles" %} class="active" {% endif %}>
							<a href="/consoles">Приставки</a>
							<ul class="sub-menu">
								<li><a href="/consoles"><img class="menu-img" src="static/img/ps4.svg"/><br>Playstation</a></li>
								<li><a href="/accessories"><img class="menu-img" src="static/img/xbox.svg"/><br>Xbox</a></li>
								<li><a href="/games"><img class="menu-img" src="static/img/ds.svg"/><br>Nintendo</a></li>
							</ul>
						</li>
						<li {% if request.path == "/accessories" %} class="active"{% endif %}> <a href="/accessories">Аксессуары</a></li>
						<li {% if request.path == "/games" %} class="active"{% endif %}> <a href="/games">Игры</a></li>
						<li {% if request.path == "/repairs" %} class="active"{% endif %}><a href="/repairs">Ремонт</a></li>
					</ul>
					<!-- /NAV -->
				<!-- /responsive-nav -->

			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		{% block body %}
        {% endblock %}


		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
						<!--<div class="clearfix visible-xs"></div>-->
							<div class="row footer-center" >
								<div class="col-sm-2 footer-block"><li><a href="#">О нас</a></li></div>
								<div class="col-sm-2 footer-block"><li><a href="#">Заказ и возврат</a></li></div>
								<div class="col-sm-3 footer-block"><li><a href="#">Условия и положения</a></li></div>
								<div class="col-sm-3 footer-block"><li><a href="#">Отслеживать заказ</a></li></div>
								<div class="col-sm-2 footer-block"><li><a href="#">Помощь</a></li></div>
							</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li>
										<a href="#"><i class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-instagram"></i></a>
									</li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								<script>document.write(new Date().getFullYear());</script> Все права защищены
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
		<script src="static/js/slick.min.js"></script>
		<script src="static/js/nouislider.min.js"></script>
		<script src="static/js/jquery.zoom.min.js"></script>
		<script src="static/js/main.js"></script>
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

	</body>
</html>
