{% extends "layout.html" %}
{% block body %}

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Главная</a></li>
							<li><a href="#">Категории</a></li>
							<li><a href="#">Приставки</a></li>
							<li><a href="#">Sony</a></li>
							<li class="active">Playstation 4 pro</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="static/img/product01.png" alt="">
							</div>

							<div class="product-preview">
								<img src="static/img/product03.png" alt="">
							</div>

							<div class="product-preview">
								<img src="static/img/product06.png" alt="">
							</div>

							<div class="product-preview">
								<img src="static/img/product08.png" alt="">
							</div>
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								<img src="static/img/product01.png" alt="">
							</div>

							<div class="product-preview">
								<img src="static/img/product03.png" alt="">
							</div>

							<div class="product-preview">
								<img src="static/img/product06.png" alt="">
							</div>

							<div class="product-preview">
								<img src="static/img/product08.png" alt="">
							</div>
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">Playstation 4 pro</h2>
							<div>
								<div class="product-rating">
								</div>
								<a class="review-link" href="#">10 Отзывов | Добавить отзыв</a>
							</div>
							<div>
								<h3 class="product-price">27000 руб<del class="product-old-price">28499 руб</del></h3>
								<span class="product-available">Есть в наличии</span>
							</div>
							<p>Стационарная игровая приставка, Беспроводной контроллер в комплекте, Поддержка HD-разрешения и 3D-режима, Поставляется с жестким диском 1000 Гб, Воспроизведение видео</p>
							<div class="product-options">
								<label>
									Цвет:
									<select class="input-select">
										<option value="0">Чёрный</option>
									</select>
								</label>
							</div>

							<div class="add-to-cart">
								<div class="qty-label">
									Кол-во:
									<div class="input-number">
										<input type="number">
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
								</div>
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>В корзину</button>
							</div>

							<ul class="product-btns">
								<li><a href="#"><i class="fa fa-heart-o"></i>В избранное</a></li>
								<li><a href="#"><i class="fa fa-exchange"></i>Сравнить</a></li>
							</ul>

							<ul class="product-links">
								<li>Категория:</li>
								<li><a href="#">Приставки</a></li>
								<li><a href="#">Playstation</a></li>
							</ul>

							<ul class="product-links">
								<li>Поделиться:</li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-envelope"></i></a></li>
							</ul>

						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Описание</a></li>
								<li><a data-toggle="tab" href="#tab2">Детали</a></li>
								<li><a data-toggle="tab" href="#tab3">Отзывы (5)</a></li>
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12">
											<p> <b>Sony PlayStation 4 Pro</b> — обновленная и модернизированная PS 4, консоль 8-го поколения. Это первая игровая приставка (Xbox One S тоже может выводить 4K, но не в играх), которая поддерживает игры в 4K UHD с высоким динамическим диапазоном (HDR). Видеокарта и другое аппаратное обеспечение заменены на лучшие, но по сути, это все та же PlayStation 4. 4K-телевизоры с поддержкой HDR все ещё очень дорогие и мало распространены. В таком формате PS 4 Pro отлично проявляет себя, но без него, консоль может предложить только чуть лучшее качество изображение и немного более быструю загрузку игр. При этом, настройки сложные, что теряется главное преимущество консолей над ПК — простота в запуске игр.</p>
										</div>
									</div>
								</div>
								<!-- /tab1  -->

								<!-- tab2  -->
								<div id="tab2" class="tab-pane fade in">
									<div class="row">
										<div class="col-md-12">
											<p><b>Основные характеристики:</b> <br>
												Тип: стационарная <br>
												Поддержка HD (High Definition): есть <br>
												Поддержка 4K UHD: есть <br>
												Поддержка 3D: есть <br>
												Жесткий диск: есть, 1000 Гб <br> <br>
												<b>Технические характеристики:</b> <br>
												Тип процессора: 8-ядерный AMD <br>
												Производительность системы при вычислениях с плавающей точкой: 4.20 терафлоп <br>
												Графический процессор: интегрированный AMD Radeon GPU <br>
												Оперативная память: 8192 Мб, GDDR5 <br> <br>
												<b>Интерфейсы</b> <br>
												Разъемы: HDMI, USB x3, оптический аудиовыход <br>
												Коммуникации: Bluetooth, Wi-Fi (802.11ac), Ethernet <br> <br>
												<b>Мультимедийные возможности</b> <br>
												Проигрывание видео: есть <br>
												Поддерживаемые носители: Blu-ray, DVD <br> <br>
												Поддерживаемые форматы: MP3, JPEG <br> <br>
												<b>Габариты</b> <br>
												Размеры (ШxВxГ): 295x55x233 мм <br>
												Вес: 3.30 кг <br> <br>
												<b>Дополнительная информация</b> <br>
												Контроллер в комплекте: есть, беспроводной <br>
												Аксессуары в комплекте: гарнитура, HDMI-кабель, USB-кабель <br>
												Тип носителя для игр: BD (Blu-ray Disc) <br>
												Совместимость с играми для приставок: PlayStation 4 </p>
										</div>
									</div>
								</div>
								<!-- /tab2  -->

								<!-- tab3  -->
								<div id="tab3" class="tab-pane fade in">
									<div class="row">
										<!-- Rating -->
										<div class="col-md-3">
											<div id="rating">
												<div class="rating-avg">
													<span>4.5</span>
													<div class="rating-stars">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</div>
												</div>
												<ul class="rating">
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 80%;"></div>
														</div>
														<span class="sum">3</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 60%;"></div>
														</div>
														<span class="sum">2</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
												</ul>
											</div>
										</div>
										<!-- /Rating -->

										<!-- Reviews -->
										<div class="col-md-6">
											<div id="reviews">
												<ul class="reviews">
													<li>
														<div class="review-heading">
															<h5 class="name">Иван</h5>
															<p class="date">28 Февраля 2018, 10:35</p>
															<div class="review-rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
															</div>
														</div>
														<div class="review-body">
															<p> Лучшая консоль на рынке прямо сейчас <br>
																Поддержка 4K и HDR <br>
																Игры, особенно эксклюзивы намного лучше выглядят именно на Pro <br>
																1 дополнительный USB (удобно если есть PS VR) <br>
																Интерфейс системы действительно работает значительно быстрей чем на обычной и Slim версии <br> </p>
														</div>
													</li>
													<li>
														<div class="review-heading">
															<h5 class="name">Владислав</h5>
															<p class="date">5 Февраля 2018, 15:50</p>
															<div class="review-rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
															</div>
														</div>
														<div class="review-body">
															<p>Первое что ты берешь в руки при запуске консоли это геймпад и он офигенен.Стики,тригеры,вибриция,вес и размер - все это вместе позваляет удобно погрузится в любимые игры,НО "тачпад" занимает много места,а его функционал сводится к нулю,не обойду вниманием и подцветку,ее функциональная нагрузка такая же как и у "тачпада" .
Сама же консоль полносью оправдывает каждый потраченный на нее рубль- внушительная библиотека игр- вся мульти платформа + экслюзивные игры сони,я как человек купивший консоль в 2018 году,одни экслюзивы буду год проходить.Постоянные скидки с пс+,игры октября-ноября 17 года по 800-999р для СНГ региона заходят на "ура",за новинки придется отдать полную стоимость.
О разнице в мощности между обычной ps4 и ps4 pro судить не могу,т.к первой не имею. </p>
														</div>
													</li>
													<li>
														<div class="review-heading">
															<h5 class="name">Василий</h5>
															<p class="date">28 Сентября 2018, 18:13</p>
															<div class="review-rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o empty"></i>
															</div>
														</div>
														<div class="review-body">
															<p>Буду рассматривать именно как Прошку. Как Соньку в целом нет смысла все заново описывать.
На 4к телеке все отлично. Вы мне можете с пеной у рта доказывать, что 4к она не вытягивает, что графика на уровне пк за 20к и т. Д. У меня gtx 1080 стоит в другой комнате и она тоже не вывозит 4к. А в эксклюзивах от сони графика уделает большинство игр на макс настройках. Тот же анчартед выдает потрясающую картинку. И кустиков там предостаточно и освещение и hdr и сглаживание.
Игр пропатченных уже очень много. Вот ведьмак на днях подгонят.
Вай фай выдаёт всю скорость провайдера (100 Мбит). 12.5 Мбайта в секунду. 50гб за ~1.5 часа.
Размеры. Она все ещё маленькая. И все ещё легкая. На дачу еду - в рюкзак сунул и на переднее сиденье машины положил. </p>
														</div>
													</li>
												</ul>
												<ul class="reviews-pagination">
													<li class="active">1</li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#">4</a></li>
													<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- /Reviews -->

										<!-- Review Form -->
										<div class="col-md-3">
											<div id="review-form">
												<form class="review-form">
													<input class="input" type="text" placeholder="Имя">
													<input class="input" type="email" placeholder="Email">
													<textarea class="input" placeholder="Отзыв"></textarea>
													<div class="input-rating">
														<span>Оценка: </span>
														<div class="stars">
															<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
															<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
															<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
															<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
															<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
														</div>
													</div>
													<button class="primary-btn">Отправить</button>
												</form>
											</div>
										</div>
										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- Section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="title">Сопутствующие товары</h3>
						</div>
					</div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="static/img/product01.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Приставки</p>
								<h3 class="product-name"><a href="#">Playstation 4 pro</a></h3>
								<h4 class="product-price">27000 руб<del class="product-old-price">28499 руб</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="static/img/product02.png" alt="">
								<div class="product-label">
									<span class="new">NEW</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Аксессуары</p>
								<h3 class="product-name"><a href="#">Dualshock 4</a></h3>
								<h4 class="product-price">3400 руб<del class="product-old-price">3600 руб</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button></div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="static/img/product03.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Игры</p>
								<h3 class="product-name"><a href="#">Fifa 18</a></h3>
								<h4 class="product-price">2900 руб<del class="product-old-price">3100 руб</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="static/img/product04.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Аксессуары</p>
								<h3 class="product-name"><a href="#">Controller xbox one elite</a></h3>
								<h4 class="product-price">3500 руб<del class="product-old-price">3700 руб</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<!-- /product -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /Section -->

{% endblock %}
