{% extends "layout.html" %}
{% block body %}
    <div class="content-gray">
        <div class="container">
            <h3>Услуги</h3>
            <div class="section-white-padding">
                    <h5>Ремонт</h5>
                <div class="row">
                    <div class="col-md-3"><a href="/repairs.html"><img src="static/img/repairs-black.svg"
                                                                           class="menu-img"></a></div>
                    <div class="col-md-9"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur autem consectetur corporis cupiditate, deleniti deserunt distinctio dolore doloribus ducimus eaque error esse et, illo impedit ipsum maiores minima nulla, perferendis quam quidem repellat reprehenderit repudiandae suscipit tempore tenetur unde.</p></div>
                </div>
                <div class="flex-container" style="justify-content: flex-end;">
                        <button type="button" class="btn">Подробнее</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}