<!DOCTYPE html>
<html lang="ru">
    <head>
        <link href="static/css/training3.css" rel="stylesheet">
        <meta charset="utf-8">
        <title>Треня3</title>
    </head>
    <body>
        <ul class="main-menu">
            <li class="active">
                <a href="/consoles">Приставки</a>
                <ul class="sub-menu">
                    <li><a href="/consoles">Playstation</a></li>
                    <li><a href="/accessories">Xbox</a></li>
                    <li><a href="/games">Nintendo</a></li>
                </ul>
            </li>
            <li><a href="/">Аксессуары</a></li>
            <li><a href="/store">Игры</a></li>
            <li><a href="/shares">Акции</a></li>
            <li><a href="/repairs">Ремонт</a></li>
            <li><a href="/exchange">Обмен</a></li>
            <li><a href="/delivery">Доставка</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </body>
</html>