<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/css/training2.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Треня2</title>
</head>
<body>
    <ul class="main-menu">
        <li class="active">
            <a href="/consoles">Приставки</a>
            <ul>
                <li><a href="/consoles">Playstation</a></li>
                <li><a href="/accessories">Xbox</a></li>
                <li><a href="/games">Nintendo</a></li>
            </ul>
        </li>
        <li><a href="/">Аксессуары</a></li>
        <li><a href="/store">Игры</a></li>
        <li><a href="/shares">Акции</a></li>
        <li><a href="/repairs">Ремонт</a></li>
        <li><a href="/exchange">Обмен</a></li>
        <li><a href="/delivery">Доставка</a></li>
        <li><a href="/contacts">Контакты</a></li>
    </ul>
</body>
</html>