<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/css/training.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Треня</title>
</head>
<body>
    <ul class="main-menu">
        <li class="active"><a href="/consoles">Приставки</a></li>
        <li><a href="/">Аксессуары</a></li>
        <li><a href="/store">Игры</a></li>
        <li><a href="/shares">Акции</a></li>
        <li><a href="/repairs">Ремонт</a></li>
        <li><a href="/exchange">Обмен</a></li>
        <li><a href="/delivery">Доставка</a></li>
        <li><a href="/contacts">Контакты</a></li>
    </ul>
</body>
</html>